In [1]:
import numpy as np
import pandas as pd

In [4]:
coding_list = pd.read_csv('genecode_v44_basic_annotation.csv')
# coding_list.rename(columns={'gene_name':'gene symbol'},inplace=True)
coding_list.drop(coding_list.columns[0],axis=1,inplace=True)
coding_list

,seqnames,start,end,width,strand,gene_id,gene_type,gene_name
0,chr1,11869,14409,2541,+,ENSG00000290825.1,lncRNA,DDX11L2
1,chr1,12010,13670,1661,+,ENSG00000223972.6,transcribed_unprocessed_pseudogene,DDX11L1
2,chr1,14404,29570,15167,-,ENSG00000227232.5,unprocessed_pseudogene,WASH7P
3,chr1,17369,17436,68,-,ENSG00000278267.1,miRNA,MIR6859-1
4,chr1,29554,31109,1556,+,ENSG00000243485.5,lncRNA,MIR1302-2HG
...,...,...,...,...,...,...,...,...
62695,chrM,14149,14673,525,-,ENSG00000198695.2,protein_coding,MT-ND6
62696,chrM,14674,14742,69,-,ENSG00000210194.1,Mt_tRNA,MT-TE
62697,chrM,14747,15887,1141,+,ENSG00000198727.2,protein_coding,MT-CYB
62698,chrM,15888,15953,66,+,ENSG00000210195.2,Mt_tRNA,MT-TT
62699,chrM,15956,16023,68,-,ENSG00000210196.2,Mt_tRNA,MT-TP

In [7]:
all_genes = pd.read_csv('eye_development.csv')
merged = pd.merge(all_genes,coding_list, on='gene_name' )
coding = merged[merged['gene_type']=='protein_coding']
coding = coding.iloc[:,:6]
coding

,gene_name,Eye94,Eye96,Eye115,Eye117,Eye129
7,A1BG,12.564784,0.000000,7.302496,16.681635,22.631895
9,A1CF,11.186905,0.000000,9.805149,7.097346,4.632873
10,A2M,194.050899,267.613869,148.723085,150.873945,211.809288
12,A2ML1,31.920484,0.000000,17.256603,26.280463,30.583520
17,A3GALT2,19.683175,69.372943,5.028602,18.255699,26.608237
...,...,...,...,...,...,...
31179,ZYG11A,15.404015,14.911538,20.514055,30.673129,5.319869
31181,ZYG11B,1483.178241,1729.434178,1724.999455,1532.070510,1380.009864
31182,ZYX,221.926223,259.320596,241.648201,108.131295,187.077158
31183,ZZEF1,905.777228,1161.559385,1099.879654,1234.384697,1153.786201
31184,ZZZ3,1954.982803,1838.227260,2523.323384,2306.383496,1942.663712

In [8]:
coding.to_csv('eye_coding.csv')